:root {
    --canvas-bg: #FAF9F6;
    --menu-bg: #272727;
    --accent-color: #0E81E6;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}