@import "tailwindcss";
@import "./globals.css";

/* Canvas */
.canvas-bg {
    background-color: var(--canvas-bg);
    background-image: radial-gradient(#dcdee1 1px, transparent 1px);
    background-size: 20px 20px;
}

#select {
    background-color: #0E81E6;
}

.active-tab {
    color: var(--menu-bg) !important;
}

.active-tab>i {
    display: block !important;
}

#tab-indicator {
    pointer-events: none;
}

.active-menu {
    display: flex !important;
}